@tailwind base;
@tailwind components;
@tailwind utilities;

.bgGradient--card {
  background: linear-gradient(rgba(126, 126, 126, 1) 0%, rgba(48, 48, 48, 1) 100%);
}
.bgGradient--last {
  background: linear-gradient(rgba(135, 255, 183, 1) 0%, rgba(23, 139, 87, 0.98125) 100%);
}