{% extends "base.html" %}

{% block head %}
<link href="/article.css" rel="stylesheet">

<meta property="og:site_name" content="bcow.xyz" />
<meta property="og:title" content="Contact us" />
<meta property="og:type" content="website" />
<meta property="og:description" content="Our contact methods." />
<meta property="og:image" content="/favicon/android-chrome-512x512.png" />
<meta property="twitter:image" content="/favicon/android-chrome-512x512.png" />
{% endblock head %}

{% block content %}
<header class="flex flex-col items-center">
  <h1 class="font-bold text-3xl">Contact</h1>
</header>

<main class="self-center text-black text-lg mx-2 md:mx-0 md:w-1/2 my-8 p-6 bg-white/90 rounded-md flex flex-col gap-4">
  <div class="grid grid-cols-1 md:grid-cols-2 w-full gap-4 justify-around">
    <div>
      <div class="p-2 rounded-full text-white bg-gradient-to-b from-blue-700 to-blue-600 w-fit">
        <img class="invert" src="/icons/PhQuestion.svg" height="40px" width="40px" alt="Question icon" />
      </div>
      <h2 class="text-xl font-bold mt-4">Need help?</h2>
      <p class="text-lg mt-2">Open an issue on the Codeberg repository of the app you need help with. Or join our <a
          class="underline font-bold" href="https://matrix.to/#/%23rimgo:nitro.chat">Matrix</a> room.</p>
    </div>
    <div>
      <div class="p-2 rounded-full text-white bg-gradient-to-b from-blue-700 to-blue-600 w-fit">
        <img class="invert" src="/icons/PhBug.svg" height="40px" width="40px" alt="Bug icon" />
      </div>
      <h2 class="text-xl font-bold mt-4">Have a problem?</h2>
      <p class="text-lg mt-2">Open an issue on the Codeberg repository of the app you're having trouble with.</p>
    </div>
  </div>

  <h2 class="text-2xl font-bold my-4">Still need to contact us?</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 w-full gap-4 justify-around">
    <div>
      <div class="p-2 rounded-full text-white bg-gradient-to-b from-blue-700 to-blue-600 w-fit">
        <img class="p-1 invert" src="/icons/SimpleIconsSimplex.svg" height="40px" width="40px" alt="SimpleX logo" />
      </div>
      <h2 class="text-xl font-bold mt-4">SimpleX</h2>
      <p class="text-lg mt-2 underline">
        <a href="https://simplex.chat/contact#/?v=2-7&smp=smp%3A%2F%2F6iIcWT_dF2zN_w5xzZEY7HI2Prbh3ldP07YTyDexPjE%3D%40smp10.simplex.im%2Fz2YF5wW_fefaG3GhpUlGiijNuLlSasZd%23%2F%3Fv%3D1-3%26dh%3DMCowBQYDK2VuAyEAu7ClHmP2C5LKoig9M3Z4HEqKcsv6NqCDG4VX0JoEHxU%253D%26srv%3Drb2pbttocvnbrngnwziclp2f4ckjq65kebafws6g4hy22cdaiv5dwjqd.onion">Contact Link</a>
      </p>
    </div>
    <div>
      <div class="p-2 rounded-full text-white bg-gradient-to-b from-blue-700 to-blue-600 w-fit">
        <img class="invert" src="/icons/PhEnvelope.svg" height="40px" width="40px" alt="Envelope icon" />
      </div>
      <h2 class="text-xl font-bold mt-4">Email</h2>
      <p class="text-lg mt-2">
        <a href="mailto:contact.mpix2@aleeas.com">contact.mpix2@aleeas.com</a>
        <br>(NOTE: This email may change to prevent spam)
      </p>
    </div>
    <div>
      <div class="p-2 rounded-full text-white bg-gradient-to-b from-blue-700 to-blue-600 w-fit">
        <img class="p-1 invert" src="/icons/SimpleIconsMatrix.svg" height="40px" width="40px" alt="Matrix logo" />
      </div>
      <h2 class="text-xl font-bold mt-4">Matrix</h2>
      <p class="text-lg mt-2">
        <a href="https://matrix.to/#/@video-prize-ranch:nitro.chat">@video-prize-ranch:nitro.chat</a>
        <br>(Not recommended)
      </p>
    </div>
  </div>
</main>
{% endblock content %}