{% extends "base.html" %}

{% block head %}
<meta property="og:site_name" content="bcow.xyz" />
<meta property="og:title" content="The privacy app platform" />
<meta property="og:type" content="website" />
<meta property="og:description" content="Building a better internet where privacy comes first." />
<meta property="og:image" content="/favicon/android-chrome-512x512.png" />
<meta property="twitter:image" content="/favicon/android-chrome-512x512.png" />
{% endblock head %}

{% block content %}
<header class="md:my-4 px-4 md:px-24">
	<!--<div class="my-4 rounded-md p-2 bg-amber-300 text-black"></div>-->

	<h2 class="tracking-widest font-light text-lg">THE PRIVACY APP PLATFORM</h2>
	<h1 class="font-bold text-3xl">Building a better internet where <u>privacy</u> comes first.</h1>
	<hr class="my-8">
	<div class="flex flex-col md:flex-row gap-8 justify-around text-lg">
		<a class="block group flex flex-col justify-between gap-4 bgGradient--card flex p-8 rounded-md w-full transition ease-in hover:scale-105"
			href="https://codeberg.org/rimgo/rimgo">
			<img class="p-4 self-center transition ease-in duration-1000 group-hover:skew-x-6 group-hover:skew-y-6"
				src="/img/ft-1.avif" width="100%" height="400px" alt="" />
			<p>Making Imgur fast and private with <b>rimgo</b></p>
		</a>
		<a class="block group flex flex-col justify-between gap-4 bgGradient--card flex p-8 rounded-md w-full transition ease-in hover:scale-105"
			href="https://codeberg.org/video-prize-ranch/container">
			<img class="p-4 self-center transition ease-in duration-1000 group-hover:skew-x-6 group-hover:skew-y-6"
				src="/img/ft-2.avif" width="100%" height="400px" alt="" />
			<p>Browse containers without being watched with <b>Container</b></p>
		</a>
		<a class="group flex flex-col justify-between gap-4 bgGradient--last flex p-8 rounded-md w-full transition ease-in hover:scale-105"
			href="/work/">
			<img class="p-4 self-center transition ease-in duration-1000 group-hover:skew-x-6 group-hover:skew-y-6"
				src="/img/ft-3.svg" width="100%" height="400px" alt="" />
			<p>Our work makes privacy <b>easy</b> and <b>accessible</b></p>
		</a>
	</div>
</header>

<div class="flex flex-col-reverse w-full md:flex-row gap-4 items-center mt-6 px-8 md:px-24 pt-2 justify-end">
	<div class="md:w-2/3">
		<h2 class="tracking-widest font-light text-lg">DESIGNED FOR EVERYONE</h2>
		<h1 class="font-bold text-3xl">Revolutionizing the way privacy apps are built.</h1>
		<p class="text-lg mt-2">Designed to be user-friendly and easy to use for both users and instance operators.
			Increasing transparency on privacy practices. We lead the way on how privacy apps are built.</p>
	</div>
	<img src="/img/s-1.svg" height="240" width="240" alt="Three rounded squares with a lock icon and green check icon" />
</div>

<div class="flex flex-col md:flex-row md:flex-row gap-4 items-center my-6 px-8 md:px-24 py-2">
	<img src="/img/s-2.svg" height="240" width="240" alt="A rounded square with a rocket icon in the center and a Go logo in the bottom-right corner" />
	<div class="md:w-2/3">
		<h2 class="tracking-widest font-light text-lg">EASY TO SETUP</h2>
		<h1 class="font-bold text-3xl">Fast, simple, secure.</h1>
		<p class="text-lg mt-2">Built with the latest technologies. No database required. Our apps are fast and lightweight.</p>
	</div>
</div>

<div class="flex flex-col px-8 md:px-24 pb-12">
	<div class="self-center">
		<h2 class="tracking-widest font-light text-lg">BUILT FOR YOU</h2>
		<h1 class="text-3xl font-bold">Private, fast, distraction-free.</h1>
	</div>

	<div class="flex flex-col md:flex-row gap-8 justify-between my-12">
		<div>
			<div class="p-2 rounded-full bg-gradient-to-b from-blue-700 to-blue-600 w-fit">
				<img class="invert" src="/icons/PhEyeSlash.svg" height="40px" width="40px" alt="Eye slash icon" />
			</div>
			<h2 class="text-2xl font-bold mt-4">Built for privacy</h2>
			<p class="text-lg mt-2">No ads, no tracking. Browse without interruptions and regain your privacy.</p>
		</div>
		<div>
			<div class="p-2 rounded-full bg-gradient-to-b from-blue-700 to-blue-600 w-fit">
				<img class="invert" src="/icons/PhRocketLaunch.svg" height="40px" width="40px" alt="Rocket launch icon" />
			</div>
			<h2 class="text-2xl font-bold mt-4">Save time</h2>
			<p class="text-lg mt-2">View your favorite content faster without the garbage that slows you down.</p>
		</div>
		<div>
			<div class="p-2 rounded-full bg-gradient-to-b from-blue-700 to-blue-600 w-fit">
				<img class="invert" src="/icons/PhCalendarBlank.svg" height="40px" width="40px" alt="Calendar icon" />
			</div>
			<h2 class="text-2xl font-bold mt-4">Long-term support</h2>
			<p class="text-lg mt-2">We are committed to long-term support for our projects.</p>
		</div>
	</div>
</div>
</div>
{% endblock content %}